.hero{
    width: 100%;
    margin: 70px 0px 130px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 997px){
        &{
            align-items: start;
        }
    }

}
.hero__content{
    width: 50%;
    font-weight: 600;
    font-size: 1.5em;
    @media (max-width: 997px){
        &{
            width: 80%;
        }
    }
    @media (max-width: 767px){
        &{
            width: 100%;
        }
    }
}
.hero__title{
    & .hero__hello{
        & p:last-child{
            font-size: 1.7em;
            font-weight: 800;
            background: linear-gradient(to right, rgb(50, 97, 251), rgb(0, 186, 186));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    .hero__profession{
        font-weight: 800;
        font-size: 3em;
        & p:last-child{
            margin: 0px 0px 0px 28%;
            @media (max-width: 767px){
                &{
                    margin: 0;
                }
            }
        }
    }
}
.hero__more-text{
    margin: 1vw 0px 0px 0px;
    font-weight: 500;
    line-height: 1.5em;
}
.hero__image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    & .avatar{
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 13px 13px 20px rgb(0, 186, 186);
    }
    @media (max-width: 997px){
        &{
            width: 30%;
        }
    }
    @media (max-width: 767px){
        &{
            display: none;
        }
    }
}
.hero__links{
    display: flex;
    gap: 1em;
    .hero__link{
        width: 3em;
        transition: all .5s ease 0s;
        & img{
         width: 100%;
        }
        &:hover{
            transform: scale(0.94);
        }
    }
}